.about-container {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.timeline {
  position: relative;
  list-style: none;
  padding: 1em 0;
  margin: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  background-color: #50a1ff;
}

.timeline-element {
  position: relative;
  width: 50%;
  padding: 1em 0;
  padding-right: 2.5em;
  text-align: right;
}

.timeline-element::before {
  content: "";
  position: absolute;
  right: -8px;
  top: 1.35em;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #50a1ff;
  background-color: #fff;
}

.timeline-element:nth-child(even)::before {
  right: auto;
  left: -8px;
}

.timeline-element:nth-child(even) {
  margin-left: 50%;
  padding-left: 2.5em;
  padding-right: 0;
  text-align: left;
}

@media (max-width: 767.98px) {
  .timeline::before {
    left: 8px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5em;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25em;
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even) {
    margin-left: 0em;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5em;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even)::before {
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25em;
  }
}

.timeline_more {
  text-decoration: none;
  color: #28a745;
}

.timeline_more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timeline_more .grey-text {
  font-size: calc(6px + 0.5vw);
}

.modal-body {
  font-size: 0.8em;
}

.modal-body p {
  text-indent: 2em;
  line-height: 1.4;
  margin: 0.2em auto;
}

.modal-body p span {
  font-style: italic;
}

.modal-list {
  /*line-height: 1.1;*/
  font-style: italic;
  padding: 0;
  margin-left: 1.2em;
  margin-bottom: 0;
}

.modal-list li {
  /*font-size: 0.8em;*/
  padding: 3px 0px;
}

.modal-list li p {
  text-indent: 0;
}

.code-spoiler {
  display: inline-block;
  position: relative;
  border-bottom: 1px currentColor solid;
  color: #007bff;
  line-height: 1;
  margin: .6em 0em .6em 4em;
  cursor: pointer;
}
.code-spoiler[open]{
  color: #6f42c1;
  margin: .6em 0em 0em 4em;
}

.code-spoiler::after {
  content: "показать код";
}

.code-spoiler::before {
  content: "";
  left: -.8em;
  top: 0.2em;
  position: absolute;
  width: .5em;
  height: .5em;
  border-top: 0.16em solid;
  transform: rotate(45deg);
  border-right: 0.16em solid;
}

.code-spoiler[open]:before {
  transform: rotate(135deg) translate(-20%, 20%);
}

.code-spoiler:hover {
  color: #cc3515;
  transition: color .5s;
}

.modal-body pre {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1em;
  margin: 0.5em 0;
  opacity: 0;
}

.modal-body pre[open] {
  display: block;
}

.modal-body pre[visible] {
  opacity: 1 !important;
  transition: all 0.5s linear;
}

.modal-title {
  font-size: 1.1em;
  font-weight: 700;
}
