.about-container {
  font-family: 'Roboto', sans-serif;
  /*font-size: 100%;*/
}

.about-container p:not(.text-muted) {
  text-indent: 2.0em;
  margin-bottom: 0.5em;
}

.timeline {
  position: relative;
  list-style: none;
  padding: 1em 0;
  margin: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  background-color: #50a1ff;
}

.timeline-element {
  position: relative;
  width: 50%;
  padding: 1em 0;
  padding-right: 2.5em;
  text-align: right;
}

.timeline-element::before {
  content: '';
  position: absolute;
  right: -8px;
  top: 1.35em;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #50a1ff;
  background-color: #fff;
}

.timeline-element:nth-child(even)::before {
  right: auto;
  left: -8px;
}

.timeline-element:nth-child(even) {
  margin-left: 50%;
  padding-left: 2.5em;
  padding-right: 0;
  text-align: left;
}

@media (max-width: 767.98px) {
  .timeline::before {
    left: 9px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5em;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25em;
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even) {
    margin-left: 0em;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5em;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even)::before {
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25em;
  }
}

.timeline_more {
  text-decoration: none;
  color: #28a745 !important;
}

@media (hover: hover) and (pointer: fine) {
  .timeline_more:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.modal-body p span {
  font-style: italic;
}

.modal-list {
  /*font-style: italic;*/
  padding: 0;
  margin-left: 1.2em;
  margin-bottom: 0;
}

.modal-list li {
  padding: 3px 0px;
}


.code-spoiler {
  display: inline-block;
  position: relative;
  border-bottom: 1px currentColor solid;
  color: #28a745;
  line-height: 1;
  margin: 0 0 0.6em 2em;
  cursor: pointer;
}

.code-spoiler::after {
  content: 'код';
}

.code-spoiler::before {
  content: '';
  left: -0.8em;
  top: 0.2em;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-top: 0.16em solid;
  transform: rotate(45deg);
  border-right: 0.16em solid;
}

.code-spoiler.opened:before {
  transform: rotate(135deg) translate(-20%, 20%);
}

@media (hover: hover) and (pointer: fine) {
.code-spoiler:hover {
  color: darkgreen;
  transition: color 0.3s;
}}

pre {
  margin-bottom: 0.5em;
}

.code-spoiler + pre {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  opacity: 1;
  /*transition: all 0.3s linear;*/
}

.code-spoiler.opened+pre {
  display: block;
}

.modal-title {
  font-size: 1.1em;
  font-weight: 700;
}
