<p>
  {{ _('The term ') }}
  <a href="https://en.wikipedia.org/wiki/Outline_of_object_recognition">{{ _('"image recognition"') }}</a>
  {{ _('is associated with') }}
  <a href="https://en.wikipedia.org/wiki/Computer_vision">{{ _('"computer vision"') }}</a>
  {{ _('(CV), which is a comprehensive shortcut for the process of teaching computers to "see" as people, and') }}
  <a href="https://en.wikipedia.org/wiki/Digital_image_processing">{{ _('"image processing"') }}</a>
  {{ _(', which is a universal term for computers that perform certain calculations and transformations on image data.
  Image recognition is a subsection of computer vision in which, using various algorithms and techniques, certain
  objects can be recognized in an image.') }}
</p>
<p>
  {{ _('On this page,') }}
  <a href="https://en.wikipedia.org/wiki/Artificial_neural_network">{{ _('artificial neural networks') }}</a>
  {{ _('(ANN), in particular') }}
  <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">{{ _('convolutional networks') }}</a>
  {{ _('(CNN), which over the past few years have proven their absolute advantage over other image recognition
  techniques, are used for image recognition.') }}
</p>
<p>
  {{ _('The first widely known convolutional neural network is') }}
  <a href="https://en.wikipedia.org/wiki/AlexNet">{{ _('AlexNet') }}</a>
  {{ _(', which in 2012 achieved top-5 recognition error of 15.3&#37;, thereby surpassing other computer vision algorithms
  at that time by more than 10&#37;. Since then, CNN have received significant development. The changes and improvements
  concerned mainly the ways of connecting the network layers to each other, various normalization methods, reducing the
  computational power required for operation, etc., but their main principle - convolution remained the same.') }}
</p>
<p>
  {{ _('The fundamental of artificial neural networks is that their functioning requires initial training on a specific
  data set, which is limited to a certain number of predefined classes of images that the network will be able to
  recognize. Classes of objects that were not in the training data, the network will not be able to recognize. Imagine
  that you have never seen, for example, a giraffe in your life. Never seen, - neither in pictures, nor in real life.
  And then someone shows you a giraffe and ask "what is this?" What will you answer? Most likely, you say that this
  object is most similar to something..., to something that you saw earlier. Artificial neural networks operate in a
  similar way.') }}
</p>
<p>
  {{ _('This subsection discusses some of different CNN models trained on the IMAGENET1000 dataset, which includes
  objects of 1000 different classes, such as, for example, an airplane, a dam, meadows, various animals, various breeds
  of dogs and much more. Thus, the models used here can, with a certain probability, recognize an object in the image if
  it belongs to these 1000 classes, or determine which known class it is closest to.') }}
</p>
<p>
  {{ _('Here there is an area for previewing the image, on top of witch the "prediction bars" are placed, which shows
  the 5 most likely objects in the image, according to the used model.') }}
</p>

