<p>
  Думаю, у большинства из тех, кто погружается в DL, рано или поздно возникает ситуация, когда позади уже несколько
  разных курсов, вот уже несколько различных простых (и не очень) сетей обучено, получены удовлетворительные значения
  метрик, и отброшены мысли грести деньги лопатой прямо с завтрашнего дня... И возникает вопрос - а как же, все-таки,
  это все применяется на практике?
</p>
<p>
  В каждой статье, просмотренной лекции я надеялся увидеть разбор конкретной ситуации; реальной, а не игрушечной,
  задачи, где поэтапно собираются и анализируются данные, создается и обучается модель, затем создается какое-то
  приложение, которое эти данные пропускает через эту модель; описывается на каком бэкенде и почему именно на нем
  работает это приложение, какое необходимо железо для функционирования, и как все это развернуть в облаке. Хотелось бы,
  чтобы это приложение можно было бы посмотреть изнутри, пощупать, поэкспериментировать, сразу же наблюдая за
  результатом.
</p>
<p>
  Возможно я слишком плохо искал, но даже на достаточно популярных курсах все, что я увидел, так это 1-2 небольших
  раздельчика (обычно устаревших), где весьма скупо рассказано как разместить на облаке Amazon или Google ~10-ти
  строковое flask-приложение, которое просто берет предварительно загруженный файл с картинкой, прогоняет через
  предобученную сеть классификации TF (реже Pytorch) и выдает текстом класс (ну или topN классов).
</p>
<p>
  Для меня, чтобы чему-то научиться и что-то запомнить, важно иметь что-то более наглядное и интересное. Практическая
  реализация накладывает определенные ограничения на модель, которые никак не видны в 10-ти строковом train/eval коде.
</p>
<p>
  Собственно, эти размышления и родили идею создать нечто базово-классическое, но, в то же время, достаточно сложное,
  чтобы, как минимум, в процессе разработки чему-то научиться самому. Так как область компьютерного зрения, все-таки,
  немного привычнее NLP, было решено пока рассматривать именно ее. Основными классическими задачами компьютерного зрения
  являются "распознавание изображений" (object recognition), "семантическая сегментация" (semantic segmentation) и
  "детекция (обнаружение) объектов" (object detection). Для каждой из задач существует достаточно большое количество
  современных (и не очень) моделей искусственных сетей, каждая из которых имеет свои достоинства и недостатки.
  Изначально мне хотелось рассмотреть и имплементировать если не все, то, хотя бы, большую их часть, но очень быстро
  пришло понимание, что на это не хватит и жизни, так как скорость появления новых моделей во всех областях
  компьютерного зрения явно выше моей скорости их имплементации в одно лицо. Так пришла мысль, что лучше сделать некую
  "платформу", с некоторым набором "базовых" моделей с возможностью в будущем без особых затрат добавить туда любые
  другие модели, решающие ту же задачу. Появился следующий план:
</p>
<ul class="modal-list">
  <li>
    Приложение будет в виде веб-сайта, который одинаково хорошо работает как с компьютера так и с мобильного устройства.
  </li>
  <li>
    Приложение будет иметь 3 раздела для каждой из базовых задач компьютерного зрения, домашнюю страницу и страницу
    about. Из любой части приложения будет доступна навигация в любую другу часть.
  </li>
  <li>
    Домашняя страница будет иметь краткий обзор всех разделов. А в каждом из разделов будут представлены несколько
    базовых моделей, осуществляющих решение конкретной задачи, с кратким их описанием и ссылками на источники.
  </li>
  <li>
    В каждом разделе будет возможность выбрать конкретную модель из имеющихся, передать в обработку модели изображение
    несколькими способами, например выбрав файл из локального хранилища, либо по ссылке из интернета, либо из буфера
    обмена, либо прямо из камеры устройства.
  </li>
  <li>
    Выбранное пользователем изображение будет сразу передаватся на сервер, обрабатываться выбранной моделью. Результат
    отобразится на этой же странице после завершения обработки.
  </li>
</ul>
<p>
  Так сложилось, что в качестве фреймворка глубокого обучения я использовал и использую PyTorch, а не TensorFlow. О
  достоинствах и недостатках обоих можно спорить бесконечно, но для моделей в этом проекте было решено использовать
  более знакомый мне PyTorch. В качестве веб-фреймворка изначально рассматривались как новомодный асинхронный Starlette,
  так и Django, однако остановиться я решил на Flask.
</p>
<p>
  До этого проекта практически все мои python-изыскания производились в Jupyter Notebooks на Google Colab. Но теперь
  надо было подыскать что-то более серьезное и удобное для работы с достаточно объемным модульным приложением. Выбор
  остановился на PyCharm, в идеале, конечно же, версии PRO, из-за возможности более гибкой настройки flask-приложений,
  переменных среды, возможности удаленного интерпретарора через ssh-соединение, что весьма спасает, когда приходится
  работать на невероятно слабом компьютере, и некоторых других полезных функций, однако Community-версия также вполне
  сгодилась бы.
</p>
<p>
  Задумки для меня оказались настолько глобальные, что проект (с учетом того, что занимался им в свободное от работы
  время) растянулся на несколько месяцев, и я, все еще, продолжаю его дополнять и улучшать. На момент возникновения идеи
  я имел весьма приблизительные представления об html; о flask, javascript и многом другом я не знал практически ничего.
  А, самое главное, я не мог себе и представить, чего будут стоить попытки развернуть на бесплатном (или условно
  бесплатном) хостинге веб-приложение, которое работает с моделями, "разрастающимися" в процессе работы до 2-3Гб в
  оперативной памяти.
</p>
<p>
  На момент написания этих строк все изначально задуманное реализовано. Скорость работы, мягко говоря, оставляет желать
  лучшего, однако есть определенные мысли по оптимизации, а также улучшению и дополнению существующего функционала.
</p>
<p>
  Весь код приложения и все сопутствующие файлы можно найти <a href="https://github.com/tuuka/cv-demo">здесь</a>. Далее
  я попытался кратко изложить как реализовывался проект, какие сложности и проблемы возникали на пути и какие решения
  приходили мне в голову.
</p>
