<p>
  Прогресс не стоит на месте, все течет, все постоянно меняется. Зачастую, найденные в просторах интернета гайды и
  туториалы с картинками о том как задеплоить то или иное приложение на том или ином сервисе являются уже несколько
  устаревшими и, рано или поздно, приходишь к выводу, что лучше оригинальной документации к каждому сервису нет и не
  может быть.
</p>
<p>
  Но здесь настигает другая проблема. Проще сервис - проще документация, но меньше гибкости. Больше гибкости, - сложнее
  документация. Если разобраться с
  <a href="https://www.heroku.com/">Heroku</a> с нуля можно за пару часов, то только на поверхностное ознакомление с
  <a href="https://aws.amazon.com/">Amazon Web Services</a> у меня ушло несколько недель.
</p>
<p>
  Итак, я имею более-менее рабочее приложение, которое запускается локально на встроенном flask-сервере и замечательно
  работает по адресу типа <span>http://127.0.0.1:5000</span> на моих 8Гб ОЗУ. Для размещения его в интернете, в первую
  очередь, я вновь обратился к
  <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xvii-deployment-on-linux">Мигуэлю</a>, в
  частности к главам 17, 18, 19.
</p>
<p>
  "Традиционный" хостинг на линуксе был отброшен сразу же по нескольким причинам. Во-первых, у меня нет свободной линукс
  машины с постоянным доступом в интернет, чтобы поднять там сервер. Во-вторых, из всего разнообразия облачных сервисов
  на сегодняшний момент полностью бесплатную полноценную линукс виртуалку (с возможностью удаленного подключения через
  ssh и преемлемым объемом ОЗУ) я не нашел нигде; а, как было указано в самом начале, рассматриваю я пока исключительно
  бесплатные или условно бесплатные способы развертывания. Амазон предоставляет t2.micro (с 1024Мб ОЗУ) виртуальные
  машины на первый год пользования с ограничением на кол-во часов ежемесячно, Гугл выделяет 300$ на те же 12 месяцев,
  которые можно тратить на любые сервисы (хоть с GPU). У других облачных сервисов (<a href="https://cloud.yandex.ru/"
    >Яндекс</a
  >, <a href="https://azure.microsoft.com/">Microsoft Azure</a> ) примерно та же картина.
</p>
<p>
  Ради эксперимента было решено проверить как проект разместиться на Heroku. Этот сервис любезно предоставляет полностью
  бесплатную машину с 512Мб ОЗУ (на самом деле приложение может использовать до 1Гб, если не обращать внимания на
  сыпящиеся предупреждения в логах), при превышении лимита памяти происходит перегрузка сервера. Из недостатков - нет
  никакой возможности удаленно подключиться к машине. Из достоинств - все автоматизировано и упрощено до нельзя, -
  зарегистрировался, скачал CLI, создал приложение, задеплоил одной командой, получил url-ссылку, все. Подробнее все
  шаги описаны в той же книге
  <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xviii-deployment-on-heroku">Мигуэля</a>, а
  также в <a href="https://devcenter.heroku.com/articles/getting-started-with-python">руководстве</a>. Однако, этот
  эксперимент с Heroku очень быстро терпит фиаско. Внимательный (и более продвинутый, в отличие от меня) читатель мог
  обратить внимание, что в проекте используются модели сегментации и детекции, которым явно мало 512Мб (и даже 1Гб) ОЗУ
  для работы. Кроме этого, Heroku имеет еще одно очень значительно ограничение, -
  <a href="https://devcenter.heroku.com/articles/request-timeout">запрос не может обрабатываться более 30секунд</a>, а,
  в "сыром" виде, некоторые модели, с учетом скачивания и загрузки весов, могут требовать и больше, ввиду отсутствия GPU
  и довольно слабого процессора, предоставляемого Heroku. В прочем, если деплоить всего лишь первый раздел
  "Распознавание образов" с его легковесными моделями, то Heroku вполне нормально справляется. Я даже пробовал некий
  "читинг", заключающийся в разбивке проекта на части по 1 модели в каждой, деплой их по отдельности под разными
  аккаунтами Heroku с дальнейшими API-вызовами каждой из "центрального" модуля, но одна только MaskRCNN ломает все
  напрочь, даже при ограничении размера входного изображения. Таким образом, все достоинства этого облачного сервиса для
  работы с подобными "сырыми" моделями PyTorch сводятся на нет. Позже я еще пробовал вернуться к Heroku, после
  <a href="https://pytorch.org/docs/stable/quantization.html">квантизации</a> и
  <a href="https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html">скриптования</a>
  MaskRCNN, но лишь для того, чтобы окончательно убедиться, что Heroku это не вычислительный сервис.
</p>
<p>
  После дальнейших размышлений и некоторого углубления в документацию, мне показалось, что второй по простоте
  использования (после Heroku) сервис это
  <a href="https://cloud.google.com/appengine">Google App Engine (GAE)</a>. Немного подробнее об этом сервисе можно
  почитать например
  <a href="https://medium.com/southbridge/3-years-on-google-app-engine-an-epic-review-d6f37e130902">здесь</a>.
  Остановлюсь на наиболее важных для проекта аспектах. На момент написания этих строк Google App Engine представлены
  двумя основными
  <a href="https://cloud.google.com/appengine/docs/the-appengine-environments">типами</a>
  машин:
</p>
<ul class="modal-list">
  <li>
    <a href="https://cloud.google.com/appengine/docs/standard">Standart</a>
    тип имеет два вида конфигураций виртуальных машин "F" и "B", каждая из которых имеет по 4 подтипа (F1, F2, F4, F4_1G
    и B1, B2, B4_1G, B8) с разной частотой процессора и разным количеством ОЗУ от 256Мб до 1Гб (старшие конфигурации,
    согласно написанному, должны иметь 2048Мб, но на текущий момент эксперименты показывают, что при превышении 1Гб,
    происходит рестарт инстансов этих конфигураций с ошибкой превышения доступной памяти). Для конфигураций типа "F"
    доступно только автоматическое масштабирование, в то время как для конфигураций "B" - ручное и базовое. Подробнее о
    различии типов масшабирования можно ознакомиться
    <a href="https://cloud.google.com/appengine/docs/standard/python3/how-instances-are-managed">здесь</a>. Для нужд
    данного проекта вполне хватит автоматического. Также стоит отметить, что данный тип GAE тарифицируется по так
    называемым инстанс-часам, коих, даже после окончания годичного триал-периода для "F"-типа выделяется
    <a href="https://cloud.google.com/appengine/quotas#Instances">28</a>
    бесплатных в день. App Engine Standart может масшабироваться до нуля активных инстансов, тем самым снижая расходы до
    нуля при отсутствии ативных запросов в течение определенного времени, однако заметно увеличивает время "отклика"
    сайта после "длительного простоя". App Engine Standart не имеют "нормального" жесткого диска; разрешается
    читать/записывать только в "/tmp", который является частью выделенного ОЗУ, что накладывает определенные ограничения
    на сохранение временных файлов, вынуждая использовать Google Cloud Storage.
  </li>
  <li>
    <a href="https://cloud.google.com/appengine/docs/flexible/">Flexible</a> тип позволяет более гибко настраивать
    параметры виртуальной машины, которая в этом случае является полноценной
    <a href="https://cloud.google.com/compute">Compute Engine</a> с возможностью ssh-подключения, использования
    Docker-контейнеров, настройки размера ОЗУ, наличием собственного HDD и прочими прелестями. Однако, данный тип
    тарифицируется уже ресурс-часами, зависящими от выбранной конфигурации; поддерживает различные виды
    масштабируемости. Важно, что App Engine Flexible не масштабируется до нуля (минимально допустимое количество
    активных инстансов - 1), никакого бесплатного использования не предусмотрено, что означает, что расход средств
    неизбежен.
  </li>
</ul>
<p>
  Сознательно опускаю здесь также довольно не сложный вариант размещения приложения на
  <a href="https://cloud.google.com/compute">Google Compute Engine (GCE)</a>
  через Docker-контейнер, так как это однозначно потребует расходов средств из любезно предоставленных на год $300, а
  практически такой же по затратм вариант с
  <span>App Engine Flexible</span> намного проще с учетом того, что наличие GPU в этом проекте не предполагается.
</p>
<p>
  По аналогии с Heroku, описанным выше, App Engine Standart позволит работать с "сырыми" PyTorch-моделями только в
  разделе распознавания изображений, поэтому пока у меня не закончились $300 пробного периода, я для эксперимента,
  временно задеплоил приложение на App Engine Flexible.
  <span style="color: red;"
    >Обращаю внимание, что с декабря 2019г. Google исключил все возможности ограничить расход средств. Теперь можно
    только настроить "бюджет" для информирования. Учитывая, что в App Engine Flexible будет активен всегда как минимум
    один инстанс, размещение приложений в нем носит временный ознакомительный характер. Если будете повторять мой опыт,
    не забудьте потом отключить/удалить приложение во избежании неожиданных трат.</span
  >
</p>
<p>
  Деплой как Standart, так и Flexible типов происходит практически идентично. Без лишних
  <a href="https://cloud.google.com/appengine/docs/flexible/python/quickstart">подробностей</a>
  вкратце: заводим (если нету) гугл-аккаунт, заходим в
  <a href="http://console.cloud.google.com">консоль</a>, в разделе Billing/Оплата заводим платежный аккаунт (без
  привязки рабочей кредитной карты ничего не заработает), с карты спишется, а затем вернется $1; затем скачиваем и
  устанавливаем <a href="https://cloud.google.com/sdk/docs">Google Cloud SDK</a>, после чего, обновляем компоненты в
  терминале (в Windows запускать от имени администратора):
</p>
<pre>    gcloud components update</pre>
<p style="text-indent: 0;">затем</p>
<pre>
    gcloud init
</pre>
<p style="text-indent: 0;">
  Нас перенаправят на страницу авторизации, где мы, после авторизации, копируем код и вставляем в обратно в терминал.
  Вывод терминала на этот момент будет примерно таким:
</p>
<div class="code-spoiler"></div>
<pre>
    Welcome! This command will take you through the configuration of gcloud.

    Your current configuration has been set to: [default]
    
    You can skip diagnostics next time by using the following flag:
      gcloud init --skip-diagnostics
    
    Network diagnostic detects and fixes local network connection issues.
    Checking network connection...done.
    Reachability Check passed.
    Network diagnostic passed (1/1 checks passed).
    
    You must log in to continue. Would you like to log in (Y/n)?  Y
    
    Go to the following link in your browser:
    
        https://accounts.google.com/o/oauth2/auth?code_challenge=4Q6K5i8vdEwPO5PpnLCJApbTrn9TBDocnGHxQjDbHSc&prompt=select_account&code_challenge_method=S256&access_type=offline&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&client_id=32555940559.apps.googleusercontent.com&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth
    
    
    Enter verification code: 4/ygHUgi_rS4HwojSPRa3uoOOUMLM1mmXbz1zXyBInTZ0UKPrwFSMkDpQ
    You are logged in as: [**ВАШ EMAIL**].
    
    Pick cloud project to use:
     [1] adept-fountain-266209
     [2] Create a new project
    Please enter numeric choice or text value (must exactly match list
    item):
</pre>
<p style="text-indent: 0;">
  Выбираем пункт 2-"Создать проект", вводим его название. Это название имеет ключевую роль, - URL-адрес приложения будет
  вида ИМЯ_ПРОЕКТА.appspot.com. Через некоторое время проект будет создан. В корневой папке нашего приложения необходимо
  создать примерно такой конфигурационный файл <span>app.yaml</span> с базовыми настройками:
</p>
<div class="code-spoiler"></div>
<pre>
   runtime: python
    env: flex
    
    runtime_config:
      python_version: 3.7
    
    automatic_scaling:
      min_num_instances: 1
      max_num_instances: 2
      cpu_utilization:
        target_utilization: 0.8
    
    resources:
      cpu: 2
      memory_gb: 4
      disk_size_gb: 20
    
    env_variables:
      ****ПЕРЕМЕННЫЕ ОКРУЖЕНИЯБ ЕСЛИ НУЖНЫ****  
    
    entrypoint: gunicorn -b :$PORT cv-demo:application -w 4 --timeout 120</pre
>
<p style="text-indent: 0;">
  В конфигурации выше указан тип APP Engine Flexible, указано, что нужен python3.7; что масштабироваться приложение
  будет автоматически с минимумом запущенных инстансов 1 и максимумом - 2; что второй инстанс будет создаваться при
  загрузке процессора выше 80%; и что виртуальная машина будет иметь 2 процессора, 4Гб памяти и 20Гб HDD. При
  необходимости здесь же указываются переменные окружения. В самом конце - строка запуска веб-сервера
  <span>gunicorn</span>, который будет обслуживать приложение. В корневой папке проекта должен быть файл зависимостей
  requirements.txt следующего вида:
</p>
<pre>
    Flask==1.1.1
    Flask-Babel
    Pillow
    requests
    https://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
    https://download.pytorch.org/whl/cpu/torchvision-0.5.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
    gunicorn
</pre>
<p>
  Для вновь созданного проекта через <a href="https://console.developers.google.com/billing">консоль</a> привязываем
  ранее созданный платежный аккаунт, затем активируем Google API
  <a href="https://console.developers.google.com/apis/api/cloudbuild.googleapis.com/">здесь</a>
  (иначе в процессе деплоя все-равно придется прерваться и сделать это) после чего, находясь в корневой папке проекта,
  выполняем из терминала команду
</p>
<pre>   gcloud app deploy</pre>
<p style="text-indent: 0;">
  следуя инструкциям, выбираем регион; по запросу проверяем и подтверждаем корректность введенной информации и, через
  некоторое время, приложение разместится на Google App Engine и будет доступно по ссылке
  <span>ИМЯ_ПРОЕКТА.appspot.com</span>.
</p>
<p>
  У меня развернулось и заработало все практически сразу, правда заметно медленнее чем даже на Google Colab, но для
  ознакомительных целей пойдет. Но это не совсем бесплатное решение. Free Tier $300 от Google довольно быстро
  заканчивается, поэтому еще раз напоминаю, что App Engine Flexible не выключается самостоятельно, и лучше его, после
  ознакомления, остановить и удалить вручную, что я и сделал.
</p>
<p>
  Абсолютно те же действия можно проделать с
  <a href="https://aws.amazon.com/ru/elasticbeanstalk/">Amazon</a> с той лишь разницей, что Амазон не дает $300 free, и
  url размещенного приложения, мягко говоря, не такой красивый как у GoogleAppEngine.
</p>
<p>
  После некоторого времени, я, таки, пришел к выводу, что использовать сложные модели PyTorch "как есть", как написано
  во многих туториалах на бесплатном хостинге не получится, что вынудило меня искать другие пути.
</p>
<p>
  Этот раздел носит "повествовательный" характер, весьма укороченно описывающий грабли, на которые наступил автор.
  Примеры файлов
  <span>.yaml</span> для <span>GAE Standart</span> и <span>GAE Flexible</span>, <span>Procfile</span> для
  <span>Heroku</span>, а также <span>requirements.txt</span> можно найти во все том же
  <a href="https://github.com/tuuka/cv-demo">репозитории</a>.
</p>
