<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Toy project for some DL models implementations" />
    <meta name="author" content="Tuuka" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <title>
      {% if title %}{{ title }} - CVDemo{% else %}{{ _('Welcome to CVDemo') }}{% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" />
<!--    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topics.css') }}" />
    {% endblock %}
  </head>


  <body>
    <!-- Container -->
    <div class="container-fluid">
      <!-- Row -->
      <div class="row flex-column flex-md-row">
        <!-- Main navigation-->
        <div class="navbar-wrapper d-md-flex justify-content-md-center">
          <nav
            class="navbar navbar-light flex-row flex-md-column justify-content-center justify-content-md-start"
            role="navigation"
          >
            <a class="navbar-brand mx-auto pt-0 pt-md-3" href="{{ url_for('main.index') }}">CV-DEMO</a>
            <hr class="d-none d-md-block w-100" />
            <div class="navbar-nav-scroll">
              <ul
                class="navbar-nav flex-row flex-md-column align-items-center align-items-md-start justify-content-between"
              >
                {% for t in g.topics %}
                  <li class="nav-item col col-md-auto mr-3 px-0 mr-md-0 text-center text-md-left" data-mode="{{ t.id }}">
                    <a class="nav-link" href="{{ url_for(t.id + '.index') }}">{{ t.name }}</a>
                 </li>
                {% endfor %}
                <li class="nav-item col col-md-auto mr-3 px-0 mr-md-0 text-center text-md-left" data-mode="about">
                  <a class="nav-link" href="{{ url_for('main.about') }}">{{ _('About') }}</a>
                </li>
              </ul>
            </div>

            <!-- Left side nav section for addition information or links in child pages-->
            <!-- Activating when necessary. Disabled in mobile for now-->
            <div class="left-description {% if not mode in(g.work_modes) %}hidden{% endif %}">
              <hr class="d-none d-md-block w-100" />
              <ul
                class="navbar-nav flex-row flex-md-column align-items-center align-items-md-start justify-content-between"
              >
                <li class="nav-item col col-md-auto mr-3 px-0 mr-md-0 text-center">
                  <a class="help-link nav-link" href="#ModeModalDescription">{{ _('Help on this topic') }}</a>
                </li>
              </ul>
            </div>
              <!-- //Left side section for addition information or links in child pages-->
          </nav>
        </div>
        <!-- //Main navigation-->
        <main class="col border-left border-right mb-3 pt-0 pt-md-3">
          {% block content %} {% endblock %}
        </main>

        <!-- Right Sidebar -->
        <div class="d-none d-xl-block navbar-light right-sidebar">
          <div class="right-sidebar-content">
            <ul class="navbar-nav flex-column">
              <h5 class="pt-3 text-uppercase">{{ _('Powered by:') }}</h5>
                {% for p in g.powered %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ p.href }}" target="_blank">
                      <span> <img src="{{ url_for('static', filename=p.icon) }}" /> </span>
                      {{ p.name }}
                    </a>
                  </li>
                {% endfor %}
            </ul>
            <hr class="w-100" />
            <ul class="navbar-nav flex-column">
              <h5 class="text-uppercase">{{ _('Inspired by:') }}</h5>
                {% for p in g.inspired %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ p.href }}" target="_blank">
                      <span> <img src="{{ url_for('static', filename=p.icon) }}" /> </span>
                      {{ p.name }}
                    </a>
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <!-- // Right Sidebar -->
      </div>
      <!-- //Row -->
    </div>
    <!-- //Container -->

    <footer class="main-footer">
      {% block footer %}
      <div
        class="footer-container d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between"
      >
        <div class="footer-title text-center text-md-left mb-3 mb-md-0">
          &copy Tuuka 2019-2020
        </div>
        <div class="footer-content text-center text-md-right mb-3 mb-md-0">
          <span><img src="../static/icons/gmail.svg" /></span>scientist74@gmail.com
        </div>
        <div class="footer-icons mb-3 mb-md-0">
          <ul class="footer-icons-list text-center">
<!--            <li>-->
<!--              <a href="https://www.facebook.com/tuuka74"><img src="../static/icons/facebook.svg" /></a>#}-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="www.linkedin.com/in/pavel-platonov"><img src="../static/icons/linkedin.svg" /></a>#}-->
<!--            </li>-->
            <li>
              <a href="https://opendatascience.slack.com/team/UEAUN1HH6"><img src="../static/icons/slack.svg" /></a>
            </li>
            <li>
              <a href="https://t.me/tuuka74"><img src="../static/icons/telegram.svg" /></a>
            </li>
            <li>
              <a href="https://github.com/tuuka/cv-demo"><img src="../static/icons/github.svg" /></a>
            </li>
          </ul>
        </div>
      </div>
      {% endblock %}
    </footer>

    {% block scripts %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


    <script>
      var lambda_url = '{{ g.lambda_url|safe }}';
      var g_locale = '{{ g.locale }}';
      var work_modes = {{ g.work_modes|list|safe }};
      var mode = '{{ mode }}';
      var file_too_big_alert =   '{{ _("File is too big. Images more than 2MB are not allowed") }}';
      var only_image_allowed_alert = '{{ _("Only jpeg/jpg/png files are allowed!") }}';
      var image_processing_in_progress_alert = '{{ _("Image processing in progress! Wait until operation is finished.") }}';
      console.log(`locale=${g_locale}`);
      {#console.log(`topics=${ {{ g.topics|tojson }} }`);#}


      if ('serviceWorker' in navigator) {
        //navigator.serviceWorker.getRegistration().then(function(r){r.unregister();});
        navigator.serviceWorker.register('/sw.js').then(function (reg) {
          //console.log('Service Worker Registered');
          //reg.update();
        });

        navigator.serviceWorker.ready.then(function (reg) {
        //console.log('Service Worker Ready');
        });
      }


    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% endblock %}
  </body>
</html>
