<p class="">
  {{ _('Semantic Segmentation is a classic ') }}
  <a href="https://en.wikipedia.org/wiki/Computer_vision">{{ _('Computer Vision') }}</a>
  {{ _(' technique used to understand what is in a given image at a pixel level. It is different than image recognition,
  which assigns one or more labels to an entire image; and object detection, which locatalizes objects within an image
  by drawing a bounding box around them. Image segmentation provides more fine-grain information about the contents of
  an image.') }} {{ _('Semantic segmentation refers to the process of linking each pixel in an image to a class label.
  These labels could include a person, car, flower, piece of furniture, etc. Segmenting an image allows us to separate
  the foreground from background, identify the precise location of a bus or a building, and clearly mark the boundaries
  that separate a tree from the sky. Applications for semantic segmentation include autonomous driving, industrial
  inspection, classification of terrain visible in satellite imagery, medical imaging analysis and so on.') }}
</p>
<p>
  {{ _('Almost all modern models of artificial neural networks for semantic segmentation task are essentially ') }}
  <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">{{ _('convolutional networks') }}</a>
  {{ _('. And they consist of two main parts: an encoder and a decoder (or classifier in some cases). An encoder is,
  with some modifications, the usual convolutional neural network model for image recognition without the final pooling
  and classification layers. While decoders are more significantly different from model to model.') }}
</p>
<p>
  {{ _('Semantic segmentation is a huge section of computer vision that is still developing and has a huge number of
  different models, each of which has its own advantages and disadvantages.') }}
</p>
<p>
  {{ _('On this page there is an area for previewing the image, on top of which is the area which shows up to 10 color
  bars according to 10 most common objects in the image, detected by the model chosen.') }}
</p>